/*
  An adaptation of en.wikipedia.org's stylesheet,
  but I've removed the styles that does merging of 
  hotlink colors, coz it's just wrong.

  @sonnyksimon "Sonny Kothapally <me@sonnyksimon.com>"
*/

/* mobile font size */
@media only screen and (min-width:0px) and (max-width: 1000px) {
    html>body {
        font-size: 0.875em;
        padding: 0.875em;
    }
}

/* desktop font sizing */
@media only screen and (min-width:1000px) {
    html>body {
        font-size: 0.875em;
        padding: 0.875em;
    }
}

@media print { .no-print{ display:none } }

body {
    line-height: 1.45;

    /* fix problem on mobile orientation changes */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style : normal;
    font-weight : 400;
    max-width: 890px;
    margin-left: auto;
    margin-right: auto;
}

a:hover,a:focus {
    text-decoration: underline;
}

tt, code, kbd, samp {
    font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
    white-space: pre-wrap;
    word-wrap: normal;
    word-break: keep-all;

    padding: 2px 4px;
    color: #c0341d;
    background-color: #fbe5e1;
    border-radius: 4px;
}

blockquote {
    color: #7f8fa4;
    font-size: inherit;
    padding: 8px 24px;
    margin: 16px 0;
    border-left: 3px solid #eaeaea;
}

blockquote p {
    color: #7f8fa4 !important;
    font-size: inherit;
    line-height: 1.5;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {
    text-rendering: optimizeLegibility; /*magic*/
}

body {color: #2e2e2e;}
